.Contain {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    padding-bottom: 30px;

    .img {
        margin-right: 30px;
    }

    .text {
        margin: 0 30px;
        margin-top: 250px;

        .text-p1 {
            font-family: 'Galdeano';
            font-style: normal;
            font-weight: 400;
            font-size: 61px;
            line-height: 64px;
            color: #EA0000;

        }

        .text-logo {
            width: 642px;
        }

        .text-p2 {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 30px;
            line-height: 36px;
            text-align: justify;
            color: #000000;
            padding: 0px;
            margin: 0px;
        }

        .text-p3 {
            font-family: 'Gelasio';
            font-style: normal;
            font-weight: 700;
            font-size: 61px;
            color: #FF9900;

            p {
                margin: 0;
            }
        }

        .box-text {
            display: flex;
            align-items: center;
            margin-bottom: 50px;
        }

        .text-p4 {
            font-family: 'Gelasio';
            font-style: normal;
            font-weight: 700;
            font-size: 46px;
            position: relative;
            color: #575757;
            margin-left: 50px;

            p {
                margin: 0;
            }

            img {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }

        .text-button {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 20px 30px;
            width: 170px;
            height: 50px;
            background: #EA0000;
            box-shadow: 0px 17px 23px -1px rgba(255, 18, 18, 0.25);
            border-radius: 20px;
        }

        a {
            text-decoration: none;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 500;
            font-size: 30px;
            color: #fff;
        }
    }
}

// Responsive

//mobile
@media screen and (max-width: 575px) {
    .Contain {
        padding: 0;
        display: block;
        flex-direction: row-reverse;

        .text {
            margin-top: 0;

            .text-p1 {
                font-size: 34px;
            }

            .text-logo img {
                margin: 0px;
                padding: 0;
                width: 231px;
                height: 75px;
            }

            .text-p2 {
                width: 100%;
                font-weight: 400;
                font-size: 16px;
                line-height: 19px;
                text-align: justify;
                justify-content: center;
            }

            .box-text {
                .text-p3 {
                    font-size: 37px;
                }

                .text-p4 {
                    font-size: 29px;

                    img {
                        width: 119.5px;
                    }
                }
            }

            .text-button {
                width: 152px;
                height: 46px;
                padding: 0;
                margin-top: 50px;
                margin-left: 60px;
                ;

                a {
                    font-size: 21px;
                }

            }
        }

        .img {
            img {
                margin-left: 50px;
                padding: 0;
                width: 244.09px;
                height: 278.79px;
            }
        }
    }

}
